html, body {
    height: 100%;
}

.background{
    background: linear-gradient(transparent, maroon),
    url(/static/imgs/skyView.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: brightness(0.4);
}

.theme {
    color: white;
}

.inverseTheme {
    color: maroon;
}

.center-items {
    margin-bottom: 2%;
}

.cardEdits{
    border-radius: 30px;
}

.cornerStyle {
    border-radius: 10px !important;
}

.studentTable {
    margin-left: 2.5%;
    width: 100%;
}

.container{
    display: flex;
    margin: 2%;
    align-items: flex-start;
    /* border-color: black;
    border-style: solid; */
}

.signOut {
    padding: 10px 20px;
    text-align: center;
    width: 100%;
    background-color: maroon;
    color: white;
    border-radius: 4px !important;
    text-decoration: none;
}

.rightBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 210px;
}

.card {
    box-shadow: 
    rgba(255, 255, 255, 0.4) -5px 5px, 
    rgba(255, 255, 255, 0.3) -10px 10px;
}

.status {
    display: flex;
}

.cardSpace {
    margin-bottom: 11%;
}

#open {
    padding-left: 8px;
    color: rgb(4, 189, 4);
}